<section
  class="min-h-screen w-full flex flex-col items-center justify-between gap-8 bg-gradient-to-b from-amber-100 to-amber-200 text-amber-950 px-6 pt-10 pb-6"
>
  <h1 class="text-5xl sm:text-6xl font-black tracking-[0.25em] uppercase text-center">
    Pixel Quest
  </h1>

  <button class="w-5 h-5 border" (click)="screenSizingService.toggleFullscreen(gameContainer)">
  </button>

  <section class="flex items-center justify-center flex-col gap-2 w-[1280px]">
    @if (showHeader()) {
      <app-header></app-header>
    }

    <div #gameContainer class="w-full h-full">
      <app-scene-container>
        <router-outlet></router-outlet>
      </app-scene-container>
    </div>
  </section>

  <div></div>
</section>
