<div class="w-full h-full flex flex-col bg-cover bg-center bg-black bg-no-repeat relative">
  <img src="village/village_0.webp" class="w-full h-full object-cover" alt="" />
  <app-redirect-hotspot
    [x]="10"
    [y]="170"
    [width]="300"
    [height]="440"
    redirect="/magic-shop"
    [devMode]="true"
  ></app-redirect-hotspot>
  <app-redirect-hotspot
    [x]="310"
    [y]="80"
    [width]="280"
    [height]="280"
    redirect="/adventure"
    [devMode]="true"
  ></app-redirect-hotspot>
  <app-redirect-hotspot
    [x]="595"
    [y]="160"
    [width]="250"
    [height]="220"
    redirect="/general-supplies"
    [devMode]="true"
  ></app-redirect-hotspot>
    <app-redirect-hotspot
    [x]="870"
    [y]="110"
    [width]="290"
    [height]="320"
    redirect="/tavern"
    [devMode]="true"
  ></app-redirect-hotspot>
      <app-redirect-hotspot
    [x]="990"
    [y]="380"
    [width]="285"
    [height]="330"
    redirect="/magic-shop"
    [devMode]="true"
  ></app-redirect-hotspot>
        <app-redirect-hotspot
    [x]="540"
    [y]="410"
    [width]="195"
    [height]="270"
    redirect="/magic-shop"
    [devMode]="true"
  ></app-redirect-hotspot>
</div>
