<div class="w-full h-full flex flex-col bg-cover bg-center bg-black bg-no-repeat relative">
  <!-- ⏳ 🆕 Ladebildschirm bis Hintergrund + alle Animations-Frames da sind -->
  @if (isLoading()) {
    <app-loading-screen label="Schrein wird geladen..." />
  } @else {


    <!-- //#crystalContainer -->

    <div
      
      class="absolute w-[480px] h-[500px] left-[402px] top-[42px] cursor-pointer"
      (click)="gameStateService.levelUpPanel.open()"
    >

    </div>

    <img
      src="imgs/shrine/shrine_0.webp"
      class="w-full h-full object-cover"
      alt=""
    />

    <app-level-up-panel></app-level-up-panel>
  }
</div>
