<div class="w-full h-20 border-2 rounded-md flex items-center p-2 gap-3 transition-colors cursor-pointer select-none hover:bg-[rgba(0,0,0,0.75)]"
     [class.bg-[#00000080]]="itemSignal()?.equipped"
     [class.equipped-hover]="itemSignal()?.equipped"
     [class.bg-[#000000cc]]="!itemSignal()?.equipped"
     >
  
  <div class="w-16 h-16 bg-slate-100 border border-zinc-700 rounded flex items-center justify-center p-1 shrink-0">
    <img [src]="itemSignal()?.['img-path']" [alt]="itemSignal()?.name" class="w-full h-full object-contain" />
  </div>

  <div class="flex flex-col flex-grow min-w-0">
    <div class="flex justify-between items-baseline">
      <h4 class="text-amber-400 font-semibold text-sm truncate">{{ itemSignal()?.name }}</h4>
    </div>
    <p class="text-zinc-400 text-xs line-clamp-2 leading-tight mt-0.5 pr-2">
      {{ itemSignal()?.description }}
    </p>
  </div>

  <div class="flex flex-wrap gap-x-2 gap-y-0.5 max-w-[140px] text-[11px] text-emerald-400 font-mono shrink-0 justify-end content-center">
    @if (itemSignal()?.stats?.strength > 0) { <span>+{{ itemSignal().stats.strength }} STR</span> }
    @if (itemSignal()?.stats?.vitality > 0) { <span>+{{ itemSignal().stats.vitality }} VIT</span> }
    @if (itemSignal()?.stats?.intelligence > 0) { <span>+{{ itemSignal().stats.intelligence }} INT</span> }
    @if (itemSignal()?.stats?.dexterity > 0) { <span>+{{ itemSignal().stats.dexterity }} DEX</span> }
    @if (itemSignal()?.stats?.luck > 0) { <span>+{{ itemSignal().stats.luck }} LCK</span> }
    @if (itemSignal()?.stats?.armor > 0) { <span>+{{ itemSignal().stats.armor }} ARM</span> }
    @if (itemSignal()?.stats?.['energy-shield'] > 0) { <span>+{{ itemSignal().stats['energy-shield'] }} ESD</span> }
    @if (itemSignal()?.stats?.['magic-find'] > 0) { <span>+{{ itemSignal().stats['magic-find'] }} MF</span> }
  </div>

</div>