<div class="w-full h-full flex flex-col bg-cover bg-center bg-black bg-no-repeat relative">
  <img src="imgs/magic-shop/magic-shop_0.webp" class="w-full h-full object-cover" alt="" />

  <app-shop-item
    [devmode]="true"
    [x]="135"
    [y]="360"
    [itemObject]="currentShopItems[0]"
  ></app-shop-item>
  <app-shop-item
    [devmode]="true"
    [x]="319"
    [y]="360"
    [itemObject]="currentShopItems[1]"
  ></app-shop-item>
  <app-shop-item
    [devmode]="true"
    [x]="504"
    [y]="360"
    [itemObject]="currentShopItems[2]"
  ></app-shop-item>
  <app-shop-item
    [devmode]="true"
    [x]="688"
    [y]="360"
    [itemObject]="currentShopItems[3]"
  ></app-shop-item>
  <app-shop-item
    [devmode]="true"
    [x]="866"
    [y]="360"
    [itemObject]="currentShopItems[4]"
  ></app-shop-item>
  <app-shop-item
    [devmode]="true"
    [x]="1047"
    [y]="360"
    [itemObject]="currentShopItems[5]"
  ></app-shop-item>
</div>
