<section
  class="block min-w-[1280px] max-w-[1280px] min-h-[720px] max-h-[720px] relative rounded-3xl bg-white/80 backdrop-blur-xl border border-white/40 shadow-xl overflow-auto"
>
  @if (sceneService.currentScene() !== '/inventar') {
    <div
      (click)="audioService.toggleMute()"
      class="absolute cursor-pointer z-10 flex items-center justify-center right-[2rem] top-[2rem] px-4 w-[auto] h-[3rem] bg-white text-black rounded-xl select-none shadow-md"
    >
      @if (audioService.isMuted() == false) {
        mute
      } @else {
        unmute
      }
    </div>
  }

  <div class="absolute inset-0 shrink-0">
    <ng-content></ng-content>
  </div>


  @if (showBackToVillageButton() && gameStateService.adventureStateService.level() === null) {
    <app-redirect-hotspot [x]="1135" [y]="580" [width]="128" [height]="128" redirect="/village">
      <div
        class="absolute inset-0 p-4 bg-[radial-gradient(circle,_rgba(255,255,255,0.5)_0%,_rgba(0,0,0,0.2)_100%)] rounded-[50%] flex items-center justify-center"
      >
        <img
          class="w-full h-full object-contain"
          src="imgs/village/back-to-village-icon.png"
          alt="Zurück zum Dorf"
        />
      </div>
    </app-redirect-hotspot>
  }
</section>