<div class="absolute select-none flex items-center justify-center overflow-hidden"
     [ngStyle]="{
       'left.px': x(),
       'top.px': y(),
       'width': width(),
       'height': height()
     }"
     [class.border-2]="devmode()"
     [class.border-blue-500]="devmode()">
  
  @if (inventarService.equippedSlots()[slotName()]) {
    <img [src]="inventarService.equippedSlots()[slotName()]['img-path']" 
         [alt]="inventarService.equippedSlots()[slotName()].name" 
         class="w-full h-full object-contain pointer-events-none bg-[rgba(255,255,255,0.75)]" />
  }
</div>