<div class="absolute select-none flex items-center justify-center overflow-hidden"
     [ngStyle]="{
       'left.px': x(),
       'top.px': y(),
       'width': width(),
       'height': height()
     }"
     [class.border-2]="devmode()"
     [class.border-blue-500]="devmode()"
     [class.cursor-pointer]="inventarService.equippedSlots()[slotName()]"
     (mouseenter)="onEnter()"
     (mouseleave)="onLeave()"
     (click)="onClick()">

  <img [src]="defaultImagePath" alt="" class="absolute inset-0 w-full h-full object-contain pointer-events-none" />

  @if (inventarService.equippedSlots()[slotName()]) {
    <div class="p-[14px] absolute inset-0">
    <img [src]="inventarService.equippedSlots()[slotName()]['img-path']"
         [alt]="inventarService.equippedSlots()[slotName()].name"
         class="w-full h-full object-contain pointer-events-none bg-[radial-gradient(circle,rgba(255,255,255,0.75)_0%,rgba(255,255,255,0)_75%)]" />
    </div>
  }

</div>